<div id="buttonDiv">
    <button ngModel #btn id="btn" (click)="change_visibility_legend()">Hide legend</button>
</div>

<div id="legendDiv">
    <p id="legendTitle">Legend</p>
    <div id="externalDivMainRailways">
        <div id="mainRailwaysColour"></div>
        <span id="mainRailwaysSpan">Main Railways</span>
    </div>
    <div id="externalDivMinorRailways">
        <div id="minorRailwaysColour"></div>
        <span id="minorRailwaysSpan">Minor Railways</span>
    </div>
    <div id="externalDivRailwayBridges">
        <div id="railwayBridgesColour"></div>
        <span id="railwayBridgesSpan">Railway Bridges</span>
    </div>
    <div id="externalDivRailwayTunnels">
        <div id="railwayTunnelsColour"></div>
        <span id="railwayTunnelsSpan">Railway Tunnels (dotted)</span>
    </div>
    <div id="externalDivSubway">
        <div id="subwayColour"></div>
        <span id="subwaySpan">Subway (dotted and not)</span>
    </div>
</div>